body {
    background: gray;
}

/* CSS Variables */
:root {
    --hacker-green: #0d0;

    /* main UI color */
    --plyr-color-main: darkgray;
    /* audio controls background */
    --plyr-audio-controls-background: black;
    /* audio controls color */
    --plyr-audio-control-color: white;

    --plyr-audio-control-color-hover:  black;

    --plyr-audio-progress-buffered-background:  black;

    --plyr-audio-range-track-background: white;
    
    --plyr-font-family: sans-serif;
    --plyr-font-size-time: 16px;

    --plyr-tooltip-background: white;
    --plyr-tooltip-color: black; 

    --plyr-control-icon-size: 16px;
}

body {
    background-color: black;
}

.nodisplay {
    display: none!important;
}


.hacker-intro {
    margin: 1em;
    font-family: monospace;
    color: var(--hacker-green);
}

#hackerterm {
    float: left;
}

#system-failure-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#system-failure {
    width: 250px;
    border: 5px solid var(--hacker-green);
    padding: 1em;
    margin: auto;
    text-align: center;
}

/* Layout */
main {
    /* Fixed width center align */
    max-width: 60em;
    margin-inline: auto;

    background: lightgray;
}

main img {
    /* Fit image to container */
    max-width: 100%;
    display: block;
}

article {
    /* flow content horizontally */
    display: flex;
    gap: 1em;
    justify-content: center;
}

footer {
    text-align: center;
}

h1 {
    text-align: center;
}

/* Media Queries */
@media (max-width: 600px) {
    main article {
        flex-direction: column;
        align-items: center;
    }
}